:root{
    --global-font-size:16px;
    --global-line-height: 1.6em;
    --global-space:10px;
    --font-stack: Maple Mono, Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --page-width:60em;
    --invert-font-color:#fff;
    --primary-color:#6aa84f;
    --secondary-color:#727578;
    --error-color:#d20962;
    --input-style:solid;
    --display-h1-decoration:1;
    --code-bg-color:#fff;
    --background-color:#fff;
    --global-font-color: #444;
    --font-color:#666666;
    --dark-grey:#666666;
    --darker-grey:#424242;
}

@media only screen and (max-width: 850px) {
    :root {
        --global-font-size: 14px;
        --global-line-height: 1.6em;
        --page-width: 70em;
    }
}

@font-face {
    font-family: 'Maple Mono';
    src: url('../font/MapleMono-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Maple Mono';
    src: url('../font/MapleMono-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Maple Mono';
    src: url('../font/MapleMono-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Maple Mono';
    src: url('../font/MapleMono-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

*{
    box-sizing:border-box;
    text-rendering:geometricPrecision
}
::-moz-selection{
    background:var(--primary-color);
    color:var(--invert-font-color)
}
::selection{
    background:var(--primary-color);
    color:var(--invert-font-color)
}
body{
    font-size:var(--global-font-size);
    color:var(--font-color);
    line-height:var(--global-line-height);
    margin:0;
    font-family:var(--font-stack);
    word-wrap:break-word;
    background-color:var(--background-color);
    margin-bottom: 75px;
}
.logo,h1,h2,h3,h4,h5,h6{
    line-height:var(--global-line-height);
    color:var(--darker-grey)
}
a{
    cursor:pointer;
    color:var(--primary-color);
    text-decoration:none;
    font-style: italic
}
a:hover{
    background-color:var(--primary-color);
    color:var(--invert-font-color)
}
em{
    font-size:var(--global-font-size);
    font-style:italic;
    font-family:var(--font-stack);
    color:var(--font-color)
}
blockquote,code,em,strong{
    line-height:var(--global-line-height)
}
.logo,blockquote,code,footer,h1,h2,h3,h4,h5,h6,header,li,ol,p,section,ul{
    float:none;
    margin:0;
    padding:0
}
.logo,blockquote,h1,ol,p,ul{
    margin-top:calc(var(--global-space) * 2);
    margin-bottom:calc(var(--global-space) * 2)
}
.logo,h1{
    position:relative;
    display:table-cell;
    padding:calc(var(--global-space) * 2) 0 calc(var(--global-space) * 2);
    margin:0;
    overflow:hidden;
    font-weight:600;
}
h1::after{
    content:"====================================================================================================";
    position:absolute;
    bottom:7px;
    left:0;
    display:var(--display-h1-decoration)
}
.logo+*,h1+*{
    margin-top:0
}
h2,h3,h4,h5,h6{
    position:relative;
    margin-bottom:var(--global-line-height);
    font-weight:600
}
blockquote{
    position:relative;
    padding-left:2ch;
    overflow:hidden
}
blockquote::after{
    content:">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
    white-space:pre;
    position:absolute;
    top:0;
    left:0;
    line-height:var(--global-line-height);
    color:#9ca2ab
}
code{
    font-weight:inherit;
    background-color:var(--code-bg-color);
    font-family:var(--font-stack)
}
code::after,code::before{
    content:"`";
    display:inline
}
pre code::after,pre code::before{
    content:""
}
pre{
    display:block;
    word-break:break-all;
    word-wrap:break-word;
    color:var(--secondary-color);
    background-color:var(--background-color);
    border:1px solid var(--secondary-color);
    padding:var(--global-space);
    white-space:pre-wrap
}
pre code{
    overflow-x:scroll;
    padding:0;
    margin:0;
    display:inline-block;
    min-width:100%;
    font-family:var(--font-stack)
}
.terminal .logo,.terminal blockquote,.terminal code,.terminal h1,.terminal h2,.terminal h3,.terminal h4,.terminal h5,.terminal h6{
    font-size:var(--global-font-size);
    font-style:normal;
    font-family:var(--font-stack);
    color:var(--darker-grey)
}
.terminal-prompt{
    position:relative;
    white-space:nowrap
}
.terminal-prompt::after{
    content:"";
    -webkit-animation:cursor 1s infinite;
    animation:cursor 1s infinite;
    background:var(--primary-color);
    border-radius:0;
    display:inline-block;
    height:1em;
    margin-left:.2em;
    width:10px;
    bottom:-2px;
    position:relative
}
@-webkit-keyframes cursor{
    0%{
        opacity:0
    }
    50%{
        opacity:1
    }
    to{
        opacity:0
    }
}
@keyframes cursor{
    0%{
        opacity:0
    }
    50%{
        opacity:1
    }
    to{
        opacity:0
    }
}
li,li>ul>li{
    position:relative;
    display:block;
    padding-left:calc(var(--global-space) * 2);
    color: var(--dark-grey);
    margin-bottom: 5px;
}
nav>ul>li{
    padding-left:0
}
li::after{
    position:absolute;
    top:0;
    left:0
}
ul>li::after{
    content:"-"
}
nav ul>li::after{
    content:""
}
ol li::before{
    content:counters(item, ".") ". ";
    counter-increment:item
}
ol ol li::before{
    content:counters(item, ".") " ";
    counter-increment:item
}
.terminal-menu li::after,.terminal-menu li::before{
    display:none
}
ol{
    counter-reset:item
}
ol li:nth-child(n+10)::after{
    left:-7px
}
ol ol{
    margin-top:0;
    margin-bottom:0
}
.terminal-menu{
    width:100%
}
.terminal-nav{
    display:flex;
    flex-direction:column;
    align-items:flex-start
}
ul ul{
    margin-top:0;
    margin-bottom:0
}
.terminal-menu ul{
    list-style-type:none;
    padding:0!important;
    display:flex;
    flex-direction:column;
    width:100%;
    flex-grow:1;
    font-size:var(--global-font-size);
    margin-top:0
}
.terminal-menu li{
    display:flex;
    margin:0 0 .5em 0;
    padding:0
}
.terminal-menu li:last-child{
    margin-bottom:0
}
.terminal-menu li a:not(.btn){
    text-decoration:none;
    display:block;
    width:100%;
    border:none;
    color:var(--secondary-color)
}
.terminal-menu li a.active{
    color:var(--primary-color)
}
.terminal-menu li a:hover{
    background:0 0;
    color:var(--primary-color)
}
hr{
    position:relative;
    overflow:hidden;
    margin:calc(var(--global-space) * 4) 0;
    border:0;
    border-bottom:1px dashed var(--secondary-color)
}
p{
    margin:0 0 var(--global-line-height);
    color:var(--dark-grey)
}
.container{
    max-width:var(--page-width);
    margin:0 auto;
    padding:0 calc(var(--global-space) * 2)
}
img{
    width:100%
}
table{
    width:100%;
    border-collapse:collapse;
    margin:var(--global-line-height) 0;
    color:var(--font-color);
    font-size:var(--global-font-size)
}
table td,table th{
    vertical-align:top;
    border:1px solid var(--font-color);
    line-height:var(--global-line-height);
    padding:calc(var(--global-space)/ 2);
    font-size:1em
}
table thead th{
    font-size:1em
}
table tfoot tr th{
    font-weight:500
}
table caption{
    font-size:1em;
    margin:0 0 1em 0
}
table tbody td:first-child{
    font-weight:700;
    color:var(--secondary-color)
}
label{
    font-size:1em;
    color:var(--font-color)
}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=text]{
    border:1px var(--input-style) var(--font-color);
    width:100%;
    padding:.7em .5em;
    font-size:1em;
    font-family:var(--font-stack);
    -webkit-appearance:none;
    appearance:none;
    border-radius:0
}
input[type=email]:active,input[type=email]:focus,input[type=number]:active,input[type=number]:focus,input[type=password]:active,input[type=password]:focus,input[type=search]:active,input[type=search]:focus,input[type=text]:active,input[type=text]:focus{
    outline:0;
    -webkit-appearance:none;
    appearance:none;
    border:1px solid var(--font-color)
}
input[type=email]:not(:placeholder-shown):invalid,input[type=number]:not(:placeholder-shown):invalid,input[type=password]:not(:placeholder-shown):invalid,input[type=search]:not(:placeholder-shown):invalid,input[type=text]:not(:placeholder-shown):invalid{
    border-color:var(--error-color)
}
input,textarea{
    color:var(--font-color);
    background-color:var(--background-color)
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color:var(--secondary-color)!important;
    opacity:1
}
input::-moz-placeholder,textarea::-moz-placeholder{
    color:var(--secondary-color)!important;
    opacity:1
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
    color:var(--secondary-color)!important;
    opacity:1
}
input::-ms-input-placeholder,textarea::-ms-input-placeholder{
    color:var(--secondary-color)!important;
    opacity:1
}
input::placeholder,textarea::placeholder{
    color:var(--secondary-color)!important;
    opacity:1
}
textarea{
    height:auto;
    width:100%;
    resize:none;
    border:1px var(--input-style) var(--font-color);
    padding:.5em;
    font-size:1em;
    font-family:var(--font-stack);
    -webkit-appearance:none;
    appearance:none;
    border-radius:0
}
textarea:focus{
    outline:0;
    -webkit-appearance:none;
    appearance:none;
    border:1px solid var(--font-color)
}
textarea:not(:placeholder-shown):invalid{
    border-color:var(--error-color)
}
input:-webkit-autofill,input:-webkit-autofill:focus textarea:-webkit-autofill,input:-webkit-autofill:hover,select:-webkit-autofill,select:-webkit-autofill:focus,select:-webkit-autofill:hover,textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus{
    border:1px solid var(--font-color);
    -webkit-text-fill-color:var(--font-color);
    -webkit-box-shadow:0 0 0 1000px var(--invert-font-color) inset;
    transition:background-color 5000s ease-in-out 0s
}
@media screen and (max-width:960px){
    label{
        display:block;
        width:100%
    }
    pre::-webkit-scrollbar{
        height:3px
    }
}
@media screen and (max-width:480px){
    form{
        width:100%
    }
}
@media only screen and (min-width:30em){
    .terminal-nav{
        flex-direction:row;
        align-items:center
    }
    .terminal-menu ul{
        flex-direction:row;
        justify-items:flex-end;
        align-items:center;
        justify-content:flex-end;
        margin-top:calc(var(--global-space) * 2)
    }
    .terminal-menu li{
        margin:0;
        margin-right:2em
    }
    .terminal-menu li:last-child{
        margin-right:0
    }
}
figure>img{
    padding:0
}
figure>figcaption{
    color:var(--secondary-color);
    text-align:center
}

.display-pic{
    margin:0;
    padding:0;
    border:0;
    line-height:5px;
    overflow:hidden;
    border-radius:0;
    float:right;
    margin-left:20px;
    margin-bottom:20px;
    width:30%;
}

@media only screen and (max-width:650px){
    .display-pic{
        font-size:3.2px;
        line-height:4px;
        margin-left:20px;
        margin-bottom:6px;
        width:50%
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-stack);
    clear: both;
}

h1 {
    margin-bottom: 150px;
}

strong {
    font-weight: bold;
}

.logo {
    font-weight: normal;
}

figure {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

.footer {
    clear: both;
    margin-top: 60px;
    padding-top: 10px;
    border-top: 1px solid var(--secondary-color);
    color: var(--global-font-color);
}

.image-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit,
            minmax(calc(var(--page-width) / 4), 1fr));
}

.gallery-image {
    margin-top: 10px;
    margin-bottom: 10px;
}

.posts-list {
    position: relative;
    padding-left: 130px;
    top: 0;
}

.post h1, .post h2 {
    padding-top: 0;
    margin: 0;
    margin-bottom: 5px;
}

.posts-list .date {
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 130px;
    z-index: 400;
    padding-top: 0;
    font-weight: bold;
    color: var(--dark-grey);
    text-transform: uppercase;
}

.date::after{
    font-weight: normal;
    content: ':';
}

@media only screen and (max-width: 850px) {
    .site-name {
        width: 2ch;
        overflow: hidden;
        display: inline-block;
    }

    .terminal-nav {
        align-items: flex-start;
        flex-direction: column;
        display: flex;
    }

    .terminal-menu ul {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-top: 0;
    }

    .terminal-menu li {
        margin-right: 20px;
    }

    .logo {
        padding: calc(var(--global-space) * 1) 0 calc(var(--global-space) * 1);
    }

    figure {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .posts-list {
        position: relative;
        padding-left: 0;
        top: 0;
    }

    .post h1, .post h2 {
        padding-top: 0;
    }

    .posts-list .date {
        display: inline-block;
        position: absolute;
        left: 0px;
        width: 150px;
        z-index: 400;
        font-weight: bold;
        padding-top: 0;
        display: none;
        color: var(--dark-grey);
        text-transform: uppercase;
    }


    .footer {
        margin-top: 50px;
        padding-top: 5px;
    }
}

.btn {
    border: none;
    background-color: var(--background-color);
    color: var(--secondary-color);
    display: block;
    padding: 0px 0px;
    box-sizing: border-box;
    line-height: var(--global-line-height);
}
.btn:hover {
    color: var(--global-text-color);
}

.publication-image {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .publication-image {
        width: 100%;
    }
}