@font-face {
    font-family: 'Source Code Pro';
    src: url('../font/SourceCodePro-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../font/SourceCodePro-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../font/SourceCodePro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../font/SourceCodePro-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

:root {
    --mono-font-stack: Source Code Pro, Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --font-stack: Source Code Pro, Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --primary-color: #6aa84f;
}

.display-pic{
    display:inline-block;
    text-align:center;
    text-rendering:optimizeSpeed;
    margin:0;
    padding:0;
    border:0;
    font-size:4px;
    font-family:Source Code Pro;
    background-color:#fff;
    color:#000;
    line-height:5px;
    overflow:hidden;
    border-radius:0;
    float:left;
    margin-right:20px;
    margin-bottom:20px;
    width:20%;
}

@media only screen and (max-width:650px){
    .display-pic{
        font-size:3.2px;
        line-height:4px;
        margin-right:6px;
        margin-bottom:6px;
        width:50%
    }
}
