{{ define "main" }}

<h1>About</h1>
{{ printf `<img src="display_pic.jpg" class="display-pic">` | safeHTML }}
{{ with .Site.GetPage "/about" }}
    {{ .Content}}
{{end}}
<br/>

<h1>Latest Publications</h1>

<div class="posts-list">
{{ with .Site.GetPage "/publications" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>


{{ end }}