{{ define "main" }}

<h1>ABOUT</h1>
{{ printf `<img src="display_pic.jpg" class="display-pic">` | safeHTML }}
{{ with .Site.GetPage "/about" }}
    {{ .Content}}
{{end}}
<br/>

<h1>LATEST PUBLICATIONS/PRESENTATIONS</h1>

<div class="posts-list">
{{ with .Site.GetPage "/publications" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>LATEST RADIO SHOW</h1>

<div class="posts-list">
{{ with .Site.GetPage "/radio" }}
    {{ range first 1 (sort .Data.Pages "Date" "desc")}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}.</a></h1>
                <!-- {{ .Content }} -->
                <iframe width="100%" height="120" src="{{ .Params.show }}" frameborder="0" ></iframe>
                {{ .Content }} Listen to <a href="/radio" title="/radio">older episodes here</a>.
            </p>
        </div>
    {{ end }}
{{ end }}
</div>



{{ end }}